body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.right_content {
    width: 78%;
}
#border_profile_list {
    margin-left: 11%;
    margin-top: 20px;
    background-color: rgba(206, 206, 206, 0.5) !important;
    border-radius: 5px;
    width: 78%;
}
#profile_list {
    padding: 8px 0 18px 8%;
}
#profile_list a {
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid rgba(207, 205, 205, 0.6);
    padding-left: 6%;
}
#profile_list a:hover {
    background-color: white !important;
    color: rgb(53, 166, 231) !important;
}
#profile_list a:first-child:hover {
    background-color: white !important;
    border-bottom: 2px solid rgba(207, 205, 205, 0.6);
    color: rgb(53, 166, 231) !important;
}
#profile_list a.active {
    background-color: white !important;
    color: rgb(53, 166, 231) !important;
    font-weight: 600 !important;
    z-index: 0;
}
#profile_list a p {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    word-spacing: 2px;
    letter-spacing: 0.5px;
}
#introduce_title {
    font-size: 24px;
    color: rgb(50, 155, 216);
    margin: 15px 0 0 1.5%;
}
#button_change_info_user {
    position: absolute;
    top: 18px;
    right: 1.5%;
}
#button_view_account {
    position: absolute;
    top: 18px;
    right: 5%;
    display: none;
}
#button_add_post {
    position: absolute;
    top: 18px;
    right: 18%;
    display: none;
}
@media only screen and (max-width: 530px) {
    #button_change_info_user, #button_view_account {
        position: relative !important;
        top: 10px;
        left: 1.5%;
    }
    #border_edit_info_user, #border_change_psw {
        top: 120px !important;
    }
}
@media only screen and (max-width: 700px) {
    #button_add_post {
        position: relative !important;
        top: 10px;
        left: 1.5%;
    }
}
.material-icons {
    position: relative;
    top: 2px;
}
#card_info_left {
    width: 49%;
    float: left;
}
#card_info_right {
    float: right;
    width: 49%;
}
td {
    line-height: 30px;
    word-spacing: 1px;
    width: 100%;
}
.info_user th {
    font-weight: 600;
    width: 37%;
}
.info_course th {
    font-weight: 600;
    width: 55%;
}
.info_account th {
    font-weight: 600;
    width: 55%;
}
.info_business th {
    font-weight: 600;
    width: 37%;
}
#change_info_user, #change_info_business {
    float: right;
}
#card_info_courses {
    margin: 20px 0;
}
#card_info_business {
    margin: 20px 0;
}
@media only screen and (min-width: 300px) and (max-width: 740px) {
    #card_info_left {
        width: 100%;
        zoom: 1;
    }
    #card_info_left::after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        line-height: 0;
        visibility: hidden;
    }
    #card_info_right {
        float: none;
        width: 100%;
    }
}
#edit_info_user, #change_psw {
    padding-left: 8%;
    padding-top: 20px;
    margin-right: 50px;
    margin-left: 1.5%;
    margin-bottom: 20px;
    border: 1px solid rgba(173, 172, 172, 0.6);
    border-radius: 5px;
}
#edit_info_user div {
    border-bottom: 1px solid rgba(207, 205, 205, 0.6);
    width: 90%;
}
#edit_info_user label {
    font-weight: 600;
    margin: 18px;
    width: 15%;
}
#edit_info_user input {
    padding: 3px;
    border-radius: 3px;
    border: 1px solid rgba(173, 172, 172, 0.8)
}
#dc_user {
    position: relative;
    bottom: 25px;
}
textarea {
    margin-top: 20px !important;
    border-radius: 3px;
    border: 1px solid rgba(173, 172, 172, 0.8)
}
#border_edit_info_user {
    display: none;
    top: 75px;
    left: 0;
    width: 100%;
    height: auto;
}
#list_friend {
    top: 75px;
    left: 0;
    width: 100%;
    height: auto;
}
#history_user {
    top: 50px;
    left: 0;
    width: 100%;
    height: auto;
}
@media only screen and (min-width: 300px) and (max-width: 800px) {
    #edit_info_user input[name='image_user'], input[name='bd_user'], input[name='pn_user'], input[name='salary_user'], input[name='time_study'] {
        width: 50%;
    }
    #edit_info_user select[name='type_company'], select[name='type_study'] {
        width: 50% !important;
    }
}
@media only screen and (min-width: 300px) and (max-width: 550px) {
    #edit_info_user button[type='button'] {
        margin-left: 20% !important;
        margin-top: 0 !important;
    }
}
#border_change_psw {
    display: none;
    top: 75px;
    left: 0;
    width: 100%;
    height: auto;
}
#change_psw div {
    border-bottom: 1px solid rgba(207, 205, 205, 0.6);
    width: 90%;
}
#change_psw label {
    font-weight: 600;
    margin: 18px;
    width: 25%;
}
#change_psw input {
    padding: 3px;
    border-radius: 3px;
    border: 1px solid rgba(173, 172, 172, 0.8);
}
#new_post {
    text-align: center;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.85);
    display: none;
} 
#post_form {
    margin-top: 40px;
    margin-left: 20.3%;
    width: 60%;
    animation: animatezoom 0.8s;
}
#post_form textarea {
    resize: none !important; 
}
@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}