body {
    height: 100%;
    background-image: url('image/background_login3.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#layout {
    border: 3px solid #f1f1f1;
    width: 900px;
    margin: 3px auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.05);
}
#header {
    margin: 10px;
    margin-bottom: 20px;
}
#logo_school {
    border-radius: 50%;
    opacity: 0.8;
}
#info_school {
    color: blue;
    margin-left: 90px;
    margin-bottom: 11px;
    font-size: 20px;
}
#info_website {
    color: rgb(33, 202, 109);
    font-size: xx-large;
    font-style: italic;
    font-family: 'Berkshire Swash';
    letter-spacing: 2.5px;
    word-spacing: 5px;
    margin-left: 100px;
}
#content {
    clear: left;
    margin: 10px;
    border: 3px solid #f1f1f1;
    background-color: rgba(125, 221, 216, 0.1);
    color: white;
}
#fiora_image {
    border-radius: 50%;
    margin-bottom: 10px;
}
#sign_in {
    text-align: center;
    position: relative;
    top: 15px;
}
#sign_in h3 {
    font-family: 'Stardos Stencil';
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 2.5px;
}
#info_signin label {
    font-family: 'Stardos Stencil';
    text-shadow: 2px 2px 4px #000000;
    font-size: 18px;
    letter-spacing: 2px;
}
#info_signin span {
    font-family: 'Stardos Stencil';
    text-shadow: 2px 2px 4px #000000;
    font-size: 18px;
    letter-spacing: 2px;
}
#info_signin input {
    background-color: rgb(236, 235, 235);
    width: 100%;
    color: rgb(230, 20, 20);
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input::placeholder {
    color: rgba(230, 20, 20, 0.7);
}
#info_signin button {
    background-color: #3CBC8D;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}
#info_signin button:hover {
    opacity: 0.8;
}
#info_signin {
    padding: 16px;
}
#info_signin p {
    font-size: 17px;
    margin-top: 18px;
    text-align: center;
    word-spacing: 3px;
}
#info_signin a {
    text-decoration-line: none;
    text-decoration-color: rgb(40, 40, 216);
}
#info_signin a:hover {
    text-decoration-line: underline;
}
#info_signin a:active {
    color: yellow;
    text-decoration-line: none;
}
#footer {
    margin-top: 10px;
    text-align: center;
}
#anonymous_image {
    border-radius: 50%;
    margin-bottom: 5px;
}
#footer h3 {
    color: blue;
    margin-bottom: 8px;
}
@media only screen and (max-width: 900px) {
    #layout {
        width: 100%;
    }
}
#subscribe {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.85);
}
#form_signup {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 60%;
    animation: animatezoom 0.8s;
}
#describe_signup {
    margin: 10px 25px;
    padding: 5px;
    position: relative;
}
#describe_signup h1 {
    color: blue;
    letter-spacing: 2.5px;
    word-spacing: 5px;
    font-family: 'Berkshire Swash';
    margin-bottom: 15px;
}
#describe_signup p {
    font-weight: bold;
    font-size: 18px;
}
#close_signup {
    position: absolute;
    top: 0;
    right: 15px;
    font-weight: bold;
    font-size: 45px;
}
#close_signup:hover, #close_signup:focus {
    color: red;
    cursor: pointer;
}
#info_signup {
    padding: 16px;
}
#info_signup .hoten {
    background-color: rgb(230, 225, 225);
    width: 45%;
    color: rgb(230, 20, 20);
    padding: 12px 20px;
    margin: 0 17px 12px 15px;
    display: inline;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#info_signup .uname, .psw, .bday {
    background-color: rgb(230, 225, 225);
    width: 95%;
    color: rgb(230, 20, 20);
    padding: 12px 20px;
    margin: 10px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#info_signup .cf_psw {
    background-color: rgb(230, 225, 225);
    width: 95%;
    color: rgb(230, 20, 20);
    padding: 12px 20px;
    margin: 10px 15px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#info_signup label {
    font-weight: bold;
    margin-left: 15px;
}
#info_signup .gender {
    margin: 15px 8px 15px 15px;
    transform: scale(1.25);
}
#info_signup span {
    font-weight: bold;
}
#info_signup button[type="button"] {
    width: 45%;
    background-color: tomato;
    color: white;
    padding: 14px 20px;
    margin: 10px 17px 15px 15px;
    border: none;
    cursor: pointer;
}
#info_signup button[type="submit"] {
    width: 45%;
    background-color: #3CBC8D;
    color: white;
    padding: 14px 20px;
    margin: 10px 17px 15px 15px;
    border: none;
    cursor: pointer;
}
#info_signup button:hover {
    opacity: 0.8;
}
@media only screen and (max-width: 1250px) {
    #info_signup .hoten {
        width: 95%;
    }
    #info_signup button[type="submit"]{
        width: 95%;
    }
    #info_signup button[type="button"]{
        width: 95%;
    }
}
@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}