* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: url('image/bg_login.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
#layout {
    margin: auto;
    padding: 20px 100px;
    text-align: center;
}
#subscribe {
    display: none;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.85);
}
#login_header {
    font-size: 3em;
    color: white;
    letter-spacing: 6px;
    font-weight: 500;
    font-family: 'Dosis', sans-serif;
    text-shadow: 5px 3px 5px #101010;
    margin-bottom: 2em;
}
#login_content #login {
    font-size: 20px;
    color: #fff;
    letter-spacing: 4px;
    margin-bottom: 2em;
    font-weight: 400;
}
#login_content input {
    outline: none;
    font-size: .9em;
    padding: 11px 0 11px 15px;
    border: none;
    margin-bottom: 18px;
    margin-left: 33%;
    background: rgba(255, 255, 255, 0.85);
    width: 33%;
    color: #000;
    border-radius: 30px;
    font-weight: 400;
	font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}
.icon_login {
    position: relative;
    right: 100%;
    bottom: 10px;
    border: none !important;
    border-radius: 30px !important;
    background: transparent !important;
    color: rgb(53, 166, 231) !important;
}
.icon_warn {
    visibility: hidden;
    position: relative;
    right: 85%;
    bottom: 10px;
    border: none !important;
    border-radius: 30px !important;
    background: transparent !important;
    color: #ea2858 !important;
}
.error_login {
    visibility: hidden;
    position: relative;
    right: 74%;
    top: 7px;
    padding-right: 20px !important;
    height: 30px !important;
    font-size: 14px !important;
    color: #ea2858 !important;
    border-color: #ea2858 !important;
    border-radius: 20px !important;
}
#error_sign_in {
    letter-spacing: 2px;
    word-spacing: 2px;
    color: red;
    font-size: 14.5px;
    font-weight: 400 !important;
}
#button_login {
    outline: none;
    border: none;
    width: 15%;
    border-radius: 30px;
    margin-top: 1.5em;
    font-size: 18px;
    color: white;
    background: #2582be;
    padding: 7px 0;
}
#button_login:hover {
    background:rgb(35, 163, 238) !important;
    cursor: pointer;
}
#login_content p {
    margin-top: 30px;
    font-size: 18px;
}
#login_content span {
    color: #fff;
    letter-spacing: 1px;
}
#login_content a {
    color:#ea2858;
}
#login_footer {
    margin-top: 110px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: white;
    font-size: 14.5px;
    font-weight: 400;
}
#form_sign_up {
    border: none;
    border-radius: 10px;
    margin-left: 28%;
    margin-top: 75px;
    width: 45%;
    background: white;
    animation: animatezoom 0.8s;
}
#form_sign_up input {
    outline: none;
    font-size: .9em;
    padding: 11px 0 11px 15px;
    border: 1px solid rgba(207, 205, 205, 1);
    margin-bottom: 18px;
    margin-left: 18%;
    background: rgba(255, 255, 255, 0.85);
    width: 65%;
    color: #000;
    border-radius: 30px;
    font-weight: 400;
	font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}
#sign_up {
    padding: 35px 0;
    background: url('image/bg_sign_up.jpg') no-repeat center top;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    background-size: cover;
    background-position: center;
    font-size: 20px;
    color: #fff;
    letter-spacing: 4px;
    margin-bottom: 1em;
    font-weight: 500;
}
#bg_sign_up {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 102px;
    top: -121px;
    left: 0;
    background-color: rgba(54,84,99,0.6);
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}
#font_sign_up {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 103px;
    top: -188px;
    left: 0;
    font-size: 20px;
    color: #fff;
    letter-spacing: 4px;
    font-weight: 700;
}
.icon_sign_up {
    position: relative;
    right: 110%;
    bottom: 10px;
    border: none !important;
    border-radius: 30px !important;
    /* height: 80%; */
    background: transparent !important;
    color: rgb(53, 166, 231) !important;
}
#error_sign_up {
    position: relative;
    top: -120px;
    visibility: hidden;
}
#cancel_sign_up {
    outline: none;
    border: none;
    width: 28%;
    border-radius: 30px;
    margin-top: 1.5em;
    font-size: 18px;
    color: white;
    background: #ea2858;
    padding: 7px 0;
    margin-right: 3%;
}
#cancel_sign_up:hover {
    background: #e9476f;
    cursor: pointer;
}
#submit_sign_up {
    outline: none;
    border: none;
    width: 28%;
    border-radius: 30px;
    margin-top: 1.5em;
    font-size: 18px;
    color: white;
    background: #2582be;
    padding: 7px 0;
}
#submit_sign_up:hover {
    background:rgb(35, 163, 238) !important;
    cursor: pointer;
}
@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@media screen and (max-width: 1180px) {
    input {
        width: 40% !important;
        margin-left: 30% !important;
    }
    button {
        width: 18% !important;
    }
    #form_sign_up {
        width: 65% !important;
        margin-left: 15% !important;
    }
}
@media screen and (max-width: 992px) {
    input {
        width: 30% !important;
        margin-left: 35% !important;
    }   
} 
@media screen and (max-width: 880px) {
    input {
        width: 70% !important;
        margin-left: 15% !important;
    }
    button {
        width: 30% !important;
    }
    .icon_login, .icon_warn {
        position: absolute;
        right: 15.5% !important;
        bottom: 25px;
    }
    .error_login {
        position: absolute;
        right: 16% !important;
        bottom: 16px;
    }
}
@media screen and (max-width: 520px) {
    #layout input {
        width: 100% !important;
        margin-left: 0 !important;
    }
    #layout button {
        width: 40% !important;
    }
    .icon_login, .icon_warn {
        position: absolute;
        right: 0 !important;
        bottom: 25px;
    }
    .error_login {
        position: absolute;
        right: 2% !important;
        bottom: 16px;
    }
}