body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

li {
	color: rgb(84, 84, 84);
}

a{
	color: rgb(84, 84, 84);
}

input {
	outline: none;
}
#navibar .popover {
    width: 400px;
    max-width: none;
}
#navibar {
    position: sticky;
    top: 0;
    z-index: 1;
}
#left-content {
    position: fixed;
    top: 58px;
    left: 0;
}
#middle-content {
    position: relative;
    left: 325px;
}

#left {
	margin-top: 200px;
}